.post-list {
    padding: 3rem 1rem;
    text-align: center;
}

.post-list h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
}